body{
    background-color: rgb(156, 145, 145);
    margin: 0%;
}
main{
    margin-left: 20px;
    margin-right: 20px;
}
h1{
    color: rgb(17, 16, 16);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: oblique;
    font-size: 30px;
    font-weight: bold;
    text-decoration: aqua;
    border-color: black;
    background: linear-gradient(to left, rgb(0, 0, 0),rgb(115, 115, 115));
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
}
h2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
p{
    background-color: rgb(34, 34, 144);
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    border-style:solid;
    border-width: 5px;
    border-color: gold;
    border-radius: 10px;
    padding: 10px;
    background:linear-gradient(to left,rgb(17, 17, 13),rgb(49, 48, 49));    
}
body{
    background:linear-gradient(to right,rgb(135, 110, 35),purple);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url("images/background.jpg");
    background-position: center;
    background-size: cover;
}
#box1{
    border: 2px solid;
    height: 300px;
    width: 300px;    
    background-image: url(images/JS.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
#box2{border: 2px solid;
    height: 300px;
    width: 300px;    
    background-image: url(images/MOD.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
#box3{border: 2px solid;
    height: 300px;
    width: 300px;    
    background-image: url(images/NK1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.dropdown{
    display: inline-block;
}
.dropdown button{
    background-color: antiquewhite;
    color: black;
    padding: 10px 15px;
    cursor: pointer;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.dropdown a{
    display: block;
    color: black;
    text-decoration: none;
    padding: 10px 15px;
}
.dropdown .content{
    display: none;
    background-color: wheat;
    position: absolute;
    min-width: 105px;
    box-shadow: 2px 2px 5px;
}
.dropdown:hover .content{
    display: block;
}
.dropdown:hover button{
    background-color: bisque;
}
.dropdown a:hover{
    background-color: cornsilk;
}
.content{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}